.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.profile-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 15px 0;
}

.upload-btn {
  display: block;
  background: #4facfe;
  color: white;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.logout-btn {
  width: 100%;
  padding: 10px;
  background: #ff4d4f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
