.qp-container {
  text-align: center;
  padding: 40px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
  color: white;
}

.qp-card {
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  border-radius: 20px;
  width: 400px;

  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(12px);
}

.qp-card input,
.qp-card select {
  width: 90%;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.qp-card button {
  margin-top: 15px;
  padding: 12px 20px;
  background: #ff9966;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.qp-result {
  margin-top: 30px;
  padding: 20px;
  max-width: 600px;
  margin-inline: auto;

  background: rgba(255,255,255,0.1);
  border-radius: 15px;
}